* {
    margin:0;
    padding:0;
    font-family: sans-serif;
    font-size:16px;
}
@font-face{
    font-family:Poppins;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,800;1,300;1,400;1,500;1,700&display=swap');
}
body {
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color:#111;
}



