
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

@font-face {
  font-family: Poppins;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,800;1,300;1,400;1,500;1,700&display=swap');
}

@font-face {
  font-family: Inter;
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800;900&family=Montserrat:wght@700&display=swap');
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #111;
}

header {
  width: 100vw;
  height: fit-content;
  margin: 0 auto;
  z-index: 1;
}

.container {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.logo {
  margin-right: auto;
}

.logo img {
  width: 80px;
  transition: transform 0.3s ease-in-out;
}

.logo img:hover {
  transform: scale(1.2);
}

.mid-bar {
  flex-grow: 1;
  text-align: center;
}

.mid-bar a {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  margin: 0 10px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.mid-bar a:hover {
  color: #ff6b6b;
}

.right-bar {
  width: fit-content;
  height: fit-content;
  margin-right: 3rem;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.right-bar a {
  margin-left: 10px;
  color: #333;
  text-decoration: none;
  font-size: 40px;
  width: fit-content;
  height: fit-content;
  margin-left: 0.9rem;
  transition: color 0.3s ease-in-out;
}

.right-bar i {
  font-size: 40px;
}

.right-bar a:hover {
  color: #ff6b6b;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.square.container {
  width: 90%;
  height: 40rem;
  background-color: #004400;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.motival-message {
  font-size: 8rem;
  margin-left: 7rem;
  font-family: "Arial", sans-serif;
  color: #fff;
  user-select: none;
}

.tenis {
  width:60%;
  height: auto;
  position: absolute;
  margin-left: 550px;
}

.container.message {
  text-align: center;
  color: #222;
  width: 90vw;
}

.container.message h1 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

.container.message p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.main-content {
  margin: 5rem 5rem auto;
  width: 90%;
  padding-top: 0;
}

.main-content-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 5rem;
  height: fit-content;
  width: 90vw;
  overflow-y: none;
  overflow-x: auto;
  background-color: #fff;
  border-radius: 10px;
}

.form-list-item {
  margin-top: 0rem;
  max-width: 30rem;
  margin-bottom: 2rem;
  margin-top:2rem;
  margin-left:1rem;
  margin-right:1rem;
}

.form img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.form {
  position: relative;
  background: #fff;
  border-radius: 10px;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1);
  transition: transform 250ms ease-in-out;
}

.form-content {
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.form-list-item:hover {
  transform: scale(1.02);
  box-shadow: -10px 8px 18px rgba(0, 0, 0, 0.3);
}

.form-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 1rem;
}

.form-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-title {
  margin: 0;
}

.form-location {
  margin-top: 0.5rem;
  color: #444;
  margin-bottom: 1rem;
}

.form-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.form-author-item {
  color: #444;
  font-size: 1.1rem;
  
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-btn {
  padding: 10px;
  margin: 0 5px;
  background-color: #eee;
  border: none;
  cursor: pointer;
  transition: background-color 200ms linear;  
}

.pagination-btn:hover {
  background-color: #222;
  color:#ffff
}

.pagination-btn.active {
  background-color: #bbb;
  color: white;
}

/***************************************************** FOOTER */
footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.3);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  width: 100px;
  height: 100px;
  user-select: none;
}

.logo-container img {
  width: 100%;
  height: 100%;
}

.corp-name {
  color: #666;
  user-select: none;
}
