@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    border-style: none;
    font-family: "Inter", sans-serif;
    
}

h1{
    padding: 20px;
    font-size: 50px;
}

th{
    padding: 50px;
}
td {
    padding: 15px;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}
.sideMenu {
    padding: 10px;
    margin: 0;
    width: 15%;
    background-color: rgba(217, 217, 217, 1);
}
.sideMenu i{
    font-size: 30px;
}

.adminInfo {
    display: flex;
    align-items: center;

}

.profilePic {
    background-color:white;
    height: 50px;
    width: 50px;
    margin: 10px;
}
.engrenas{
    transform: translateX(+50px);
}

.products{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 83%;
    height: 100vh;
}

.search {
    display: flex;
    border-radius: 15px;
    background-color:  rgba(217, 217, 217, 1);
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 8%;
    margin-bottom: 15px;

}

.addProduct {
    background-color: rgba(40, 199, 111, 1);
    border-radius: 15px;
    font-weight: 500;

    height: 35px;
    width: 120px;
    transform: translateX(+10px);
}

.searchBar {
    display: flex;
    justify-content: center;
    
    border-radius: 25px;
    background-color: white;
    align-items: center;
    height: 40px;
    width: 460px;   
}

.searchBa{
    width: 80%;
    height:80%;
    color: black;
}

.orderer{
    font-size: 30px;
    background-color: #D9D9D9;
}

input:focus{
    outline: none;
}

.list {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: rgba(219, 218, 222, 1);
    width: 80%;
    height: 80%;
}

.lixeira {
    height: 35px;
    width: 35px;
    font-size: 30px;
    border-radius: 10px;
    background-color: red;
}
.lapis {
    height: 35px;
    width: 35px;
    font-size: 30px;
    border-radius: 10px;
    background-color: #FFC600;
}

.buttonSelected{
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background-color: #0F60FF;
    color: white;
}

.buttomNonSelected {
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background-color: #F1F2F6;
    color: #8B909A;
}

.off{
    background-color: #BED7CC;
    color: #28C76F;
    border-radius: 5px;
    height: 20px;
    width: 25px;
}

.pages {
    width: 100%;
    height: 10%;
    font-size: 15px;
    color: #8B909A;
    align-items: left;
}

.comboBox {
    height: 25px;
    width: 40px;
    border-radius: 5px;
    background-color: #D9D9D9;
    border-color: white;
}
